<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>
    </div>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio doloremque atque officiis fugit debitis, harum
            odit eos! Fugiat laudantium doloremque voluptatibus eveniet, ducimus, natus laborum non cum quibusdam nihil
            eos?
            Beatae, doloremque expedita pariatur eaque ab repellat. Incidunt quos blanditiis enim magnam architecto
            atque asperiores dolor magni quo mollitia voluptate, laudantium molestiae amet at. Nemo vitae quisquam
            dolores. Maiores, quasi?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At ipsum sapiente inventore natus quas esse atque
            harum ea nesciunt aperiam assumenda accusantium molestiae, quis voluptate quaerat dignissimos totam sed
            obcaecati!</p>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate ullam et, a recusandae mollitia,
            similique dolores veritatis quia enim ipsum veniam natus possimus qui corrupti nihil quaerat quo, ad
            consectetur.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>